<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>




    <ul>


        <!-- A -->
        <li>
            <a href="{{ path('verenichvlad_cuboid_show_form') }}">
                    Objętość prostopadłościanu by verenichvlad
            </a>
        </li>
        <!-- B -->
        <li>
            <a href="{{ path('pawkrzo_cuboid_show_form') }}">
                Objętość prostopadłościanu by pawkrzo
            </a>
        </li>

        <!-- C -->

        <!-- D -->
            
            <li>
+            <a href="{{ path('kzolnierz_Objprostopadloscian_show_form') }}">
+                Objetosc prostopadloscianu by kzolnierz
+            </a>
+           </li>
            
        <!-- E -->
        <li>
           <a href="{{ path('majdan_cuboid_show_form') }}">
               Obliczanie objetosci prostopadloscianu by majdan
          </a>
        </li>
        <!-- F -->

        <!-- G -->

        <!-- H -->

        <!-- I -->
        <li>
            <a href="{{ path('NosekAdrian_cuboid_show_form') }}">
                Cuboid - Nosek Adrian
            </a>
        </li>
        <!-- J -->
         <li>
            <a href="{{ path('rafalnav_cuboid_show_form') }}">
                Objętość prostopadłościanu by RafalNav
            </a>
        </li>
        <!-- K -->

        <!-- L -->
          <li>
            <a href="{{ path('gosialeszczuk_cuboid_show_form') }}">
                Objętość prostopadłościanu by gosialeszczuk
            </a>
        </li>

        <!-- M -->

        <!-- N -->

        <li>
            <a href="{{ path('kustra88_cuboid_show_form') }}">
                Objętość prostopadłościanu by kustra88
            </a>
        </li>
        
        <!-- O -->

        <!-- P -->
        <li>
            <a href="{{ path('dpyc_cuboid_show_form') }}">
                Objętość prostopadłościanu by dpyc
            </a>
        </li>
        <!-- Q -->
        <li>
            <a href="{{ path('choopak_cuboid_show_form') }}">
                Objętość prostopadłościanu by choopak
            </a>
        </li>

        <!-- R -->
        <li>
            <a href="{{ path('kamajo5_objetoscp_show_form') }}">
                Objętość prostopadłościanu by kamajo5
            </a>
        </li>
        <!-- S -->

        <!-- T -->

        <!-- U -->
         <li>
            <a href="{{ path('palina888_cuboid_show_form') }}">
                Objętość prostopadłościanu by palina888
            </a>
        </li>
        <!-- V -->

        <!-- W -->

        <!-- X -->

        <!-- Y -->

        <!-- Z -->
    <li>
            <a href="{{ path('DorianSerg_cuboid_show_form') }}">
		Objętość prostopadłościanu by DorianSerg
            </a>
    </li>

    </ul>


    {% block body %}{% endblock %}

    <footer>Version: 1.0.0</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
